{deps, [
    {hackney, ".*", {git, "git@github.com:benoitc/hackney", {tag, "0.4.4"}}}
    , {jiffy, ".*", {git, "git@github.com:davisp/jiffy", {tag, "0.8.5"}}}
    , {lager, ".*", {git, "git@github.com:basho/lager", {tag, "2.0.0"}}}
    , {active, ".*", {git, "git@github.com:proger/active", "HEAD"}}
]}.
