{deps, [
    {hackney, ".*", {git, "https://github.com/benoitc/hackney", {tag, "0.4.4"}}}
    , {jsx, "1.4.3", {git, "https://github.com/talentdeficit/jsx", {tag, "v1.4.3"}}}
    , {erlsh, ".*", {git, "https://github.com/proger/erlsh", "HEAD"}}
    , {fn, "0.3.0", {git, "https://github.com/reiddraper/fn", {tag, "0.3.0"}}}
    , {lager, ".*", {git, "https://github.com/basho/lager", {tag, "2.0.0"}}}
    , {active, ".*", {git, "https://github.com/proger/active", "HEAD"}}
]}.
