{erl_opts, [{parse_transform, lager_transform}]}.

{deps, [
       {lager, ".*", {git, "git@github.com:basho/lager", {tag, "2.0.0"}}}
       , {hackney, ".*", {git, "git@github.com:benoitc/hackney", {tag, "0.4.4"}}}
       , {jsx, "1.4.3", {git, "git@github.com:talentdeficit/jsx", {tag, "v1.4.3"}}}
       , {erlsh, ".*", {git, "git@github.com:proger/erlsh", "HEAD"}}
       , {fn, "0.3.0", {git, "git@github.com:reiddraper/fn", {tag, "0.3.0"}}}
       , {active, ".*", {git, "git@github.com:proger/active", "HEAD"}}
]}.
