[
    {erldocker, [
            {unixbridge_port, 32133},
            {docker_http, <<"http://localhost:32133">>}
            %{docker_http, <<"http://localhost:4243">>}
    ]},

    {lager, [
        {handlers, [{lager_console_backend, info}]},
        {crash_log, undefined}
        %, {colored, true}
    ]},

    {sasl, [{sasl_error_logger, false}]}
].
