[
 {erldocker, [
% {unixbridge_port, 32133},
%            {docker_http, <<"http://localhost:32133">>}
            %{docker_http, <<"http://localhost:4243">>}

            %% For using unix socket interface to docker
	      {docker_http, <<"http+unix://%2Fvar%2Frun%2Fdocker.sock">>}
	     ]
 },
 {lager, [
	  {handlers, [{lager_console_backend, [{level,info}]}]},
	  {crash_log, undefined},
	  {colored, true}
	 ]
 },
 {sasl, [
	 {sasl_error_logger, false},
	 {utc_log, true}
	]
 },
 {hackney, [
	    {shutdown, 10000},
	    {maxr, 10},
	    {timeout, 150000},
	    {restart, permanent},
	    {max_connections, 50},
	    {maxt,8}
	   ]
 }
].
